@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AI PortFolio C#,MVC,ETC</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Col #1</h2>
        <p>
            Column one general template using boottrap
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Col # 2</h2>
        <p>Column one general template using boottrap</p>
        
    </div>
    <div class="col-md-4">
        <h2>Col # 3</h2>
        <p>Column one general template using boottrap</p>
        
    </div>
</div>