@model IEnumerable<solo.Models.Movie>
<h1>Movies View</h1>


<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("New Movie", "NewMovie", "Movies", new { }, new { @class = "btn btn-primary" })
            </th>
        </tr>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movie",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a href='/editmovie/" + movies.id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data: "genres.genreName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>"

                            // confirmation of deletion of the movie
                        }
                    }
                    
                ]


            })


        
        //agregation
        $("#movies").on("click",".js-delete", function () {
                            var button = $(this);
            bootbox.confirm("Confirm to Delete Movie", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/movie/" + button.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                           
                            table.row(button.parents("tr")).remove().draw();

                        }


                    })
                }

            });
                

                //confirm("jqry working");
            });
            //confirm("jqry working");
        
        // end agregation

            });

    </script>
}