
@model IEnumerable<solo.Models.Customer>
<h1>Customer View</h1>

@{
    if (!Model.Any())
        {
        <p> we dont have any customer yet.</p>
        }
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
                {
            <tr>
                <td> @Html.ActionLink(@element.Name, "Detail", new { id = element.Id }, null)</td>
                 
                <td>@element.MembershipType.Name</td>

            </tr>
                
                
                }
        </tbody>

    </table>

   


        }

